*{
  box-sizing: border-box;

}
body {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    background-color: #FEFDF4;
    color: white;
    display: grid;
    grid-template-columns: .5fr 1fr .5fr repeat(2, 0);
    grid-template-rows: .0fr .5fr .5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
}

#header {
   grid-area: 1 / 1 / 2 / 4; 
  background-color: #18C894;
  color: #FEFDF4;
  padding: 20px;
  text-align: center;
  width: 100%;
  z-index: 1000;
  height: 80px;
}

header h1 {
  margin: 0;
}
#aside{
   grid-area: 2 / 1 / 4 / 2;
}

nav {
  background-color: #FFC763;
  padding: 10px;
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4em;
}
nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
#main {
  grid-area: 2 / 2 / 4 / 3;
  width: 100%;
}
#main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin-top: 80px; /* Para evitar que las publicaciones se oculten detrás del encabezado fijo */
  gap: 20px;
}

#main section article {
  text-align: center;
  padding: 15px;
  background-color: #FFAA3C;
  border-radius: 10px;
  font-weight: bold;
  margin: 20px 0;
  color: black;
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #18C894; /* Color de las bolitas */
  border-radius: 50%;
  animation: particleAnimation 1s ease-out;
  margin-left: 10px;
}

@keyframes particleAnimation {
  to {
    transform: translate(0, -30px) scale(0);
    opacity: 0;
  }
}
#mensajes {
  grid-area: 2 / 3 / 4 / 4;
  color: black;
  background-color: #FFC763;
  padding: 10px;
  height: 100%;
  font-weight: bold;
  overflow-x: hidden; /* Evitar scroll horizontal */
  width: 100%;
  margin: 0;
}

#footer {
    grid-area: 5 / 1 / 6 / 4;
  background-color: #FF4456;
  color: #FEFDF4;
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  #mensajes{
    display: none;
  }
  #aside {
    grid-area: 5 / 1 / 6 / 4;
    /* Mover el aside debajo del contenido principal */
  }

  nav {
    flex-direction: row; /* Alinear los iconos horizontalmente en dispositivos móviles */
    justify-content: space-around; /* Espaciar los iconos horizontalmente en dispositivos móviles */
    align-content: center;
    gap: 10px;

  }

  #footer {
    display: none; /* Ocultar el footer en dispositivos móviles */
  }
}