@import url(./variables.css);
@import url(./general.css);
@import url(./reset.css);

body {
  -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    grid-template-columns: var(--columns-grid);
    grid-template-rows: var(--rows-grid);
}
body::-webkit-scrollbar {
  display: none;
}

#header {
   grid-area: var(--header-area); 
  background-color: var(--primary-color);
  color: var(--complementary-color);
  padding: var(--espaciado);
  text-align: center;
  width: 100%;
  z-index: 1000;
  height: var(--header-height);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}
#icon-Container{
  display: flex;
  gap: 2em;
}
.mensaje{
  display: none;
}
header h1 {
  margin: 0;
}
header .fa-lg {
  cursor: pointer;
  font-size: 2em;
}
#aside{
   grid-area: var(--aside-area);
   max-width: var(--aside-width);
   transition: transform 0.1s ease-in;
}
.oculto{
  transform: translateX(-100%);
}

nav {
  background-color: var(--primary-color);
  padding: var(--espaciado);
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--nav-spacing-links);
  font-size: 20px;
}
nav a {
  color: white;
  text-decoration: none;
}
.active {
  font-weight: bold;
}
nav a:active {
  font-weight: bold;
}
nav #links a::after{
  content: "\00B7";
}
#conatainer-redes{
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  gap: var(--nav-spacing-links);
  justify-content: left;
  text-align: left;

}
nav #redes, nav #links, nav #copy{
  margin: 0 auto;
  text-align: center;
  color: white;
}
#main {
  grid-area: var(--main-area);
  width: 100%;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  margin: 15px 0;
}
.oculto ~ #main {
  position: absolute;
  top: 9%;
  width: 100%;
  z-index: 1;
}

#main > button {
  margin: 20px 0;
  position: absolute; 
}
.oculto ~ #scrollRightButton {
  right: 5%;
  top: 13%;
  z-index: 1000;
}
.oculto ~ #scrollLeftButton  {
  left: 5%;
  top: 13%;
  z-index: 1000;
}
#scrollLeftButton, #scrollRightButton{
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--contrast-color); /* Color primario de la paleta */
  color: #FEFDF4; /* Texto en color claro para destacar */
  position: absolute;
  top: 8%;
}
#scrollLeftButton{
  left: 20%;
}
#scrollRightButton{
  right: 10%;
}
#main-scroll-container {
  margin: 50px 0;
  display: flex;
  width: 100%; /* Habilita el scroll horizontal en escritorio */
  z-index: 10;
  
}
#main::-webkit-scrollbar {
  display: none;
}

#publicaciones {
  display: flex;
  justify-content: center;
  padding: var(--espaciado);
  gap: var(--espaciado);
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  margin: 0 auto;;
}

article {
  max-width: 400px;
  text-align: center;
  padding: var(--espaciado);
  background-color: #FFAA3C;
  border-radius: 10px;
  font-weight: bold;
  color: black;
}



.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #18C894; /* Color de las bolitas */
  border-radius: 50%;
  animation: particleAnimation 1s ease-out;
  margin-left: 10px;
}

@keyframes particleAnimation {
  to {
    transform: translate(0, -30px) scale(0);
    opacity: 0;
  }
}
/* #mensajes {
  grid-area: 2 / 3 / 4 / 4;
  color: black;
  background-color: #FFC763;
  padding: 10px;
  height: 100%;
  font-weight: bold;
  overflow-x: hidden; 
  width: 100%;
  margin: 0;
} */


@media only screen and (max-width: 600px) {
  body{
    display: block
  }
  #main{
    overflow-y: visible;
    overflow-x: visible;
    margin: 0 auto;
    width: 100%;

  }
  .oculto ~ #main {
    transform: translateX(0); 
  }
  
  
  #toggleMenuButton{
    display: none;
  }
  
  #scrollLeftButton, #scrollRightButton{
    display: none;
  }
  
  #main-scroll-container {
    display: block;
    width: 100%;
    overflow-y: visible;
    overflow-x: visible;
  }
  #main section{
    flex-direction: column;
    flex-wrap: wrap;
  }
 
  .mensaje{
    display: block;
    float: right;
  }
  #mensajes {
    display: none;
  }

  #aside {
    grid-area: 5 / 1 / 6 / 4;
    /* Mover el aside debajo del contenido principal */
  }

  nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* Ocupar toda la anchura de la pantalla */
    background-color: var(--secundary-color); /* Ajusta el color de fondo según tus necesidades */
    z-index: 1000; /* Ajusta el índice z según sea necesario */
    display: flex;
    flex-direction: row; /* Alinear los iconos horizontalmente en dispositivos móviles */
    justify-content: space-around; /* Espaciar los iconos horizontalmente en dispositivos móviles */
    align-content: center;
    gap: 0;
    height: 40px; 
    font-size: 15px;
  }
  nav a {
    color: black;
  }

  #redes, #links, #copy {
    display: none; /* Ocultar el footer en dispositivos móviles */
  }
}
@media only screen and (max-width: 338px) { 
  nav {
    gap: 0;
  }
  nav a {
    font-size: 15px;
  }
  #main section article {
    width: 100%;
  }
  #main section article img {
    width: 100%;
  }
  header{
    gap: 0;
  }
}
@media only screen and (max-width: 282px) { 
  
  header{
    font-size: 12px;
  }
  nav {
    gap: 0;
  }
  nav a {
    font-size: 10px;
  }
  #main{
    width: 100%;
  }
  #main section article {
    width: 100%;
  }
  #main section article img {
    width: 100%;
  }
  
}