
:root{
  /* Paleta de colores */
  --primary-color: #18C894;
  --secundary-color: #FFC763;
  --complementary-color: #FEFDF4;
  --contrast-color: #FF4456;
  --sombra-color: #FFAA3C;
  /* heights y widths */
  --header-height: 50px;
  --aside-width: 246px;
  /* spacing */
  --espaciado: 17px;
  --nav-spacing-links: 46px;
  /* grid tamplate */
  --columns-grid: .5fr 2fr .5fr repeat(2, 0);
  --rows-grid: 0fr 10fr 7.5fr;
  /* grid areas */
  --header-area: 1 / 1 / 2 / 4;
  --aside-area: 2 / 1 / 4 / 1;
  --main-area: 2 / 2 / 4 / 4;
  /* font */
  --font-family: 'Fredoka', sans-serif;
}